*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.content
{
	height: 100vh;
	background: black url("giphy.gif")  no-repeat fixed top center; 
	background-size: 40% 40%;
	

	display: flex;
	align-items: center;
	justify-content: center;
}

.clock
{
	width: 840px;
	height: 300px;

	transform: scale(.7);

	display: flex;
	justify-content: center;
	align-items: center;
}

.hours, .minutes, .seconds
{
	display: flex;
	height: 226px;
}

.num_1, .num_2, .num_3, .num_4, .num_5, .num_6
{
	position: relative;
	margin: 10px;
}

.top
{
	width: 100px;
	height: 0;

	border-radius: 10px 10px 0 0;
	border-top: 30px solid white;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
}

.top_left
{
	width: 0;
	height: 100px;

	position: absolute;
	top: 2px;
	left: -2px;

	border-radius: 10px 0 0 10px;
	border-top: 30px solid transparent;
	border-left: 30px solid white;
	border-bottom: 17px solid transparent;
}

.top_right
{
	width: 0;
	height: 100px;

	position: absolute;
	top: 2px;
	right: -2px;

	border-radius: 0 10px 10px 0;
	border-top: 30px solid transparent;
	border-right: 30px solid white;
	border-bottom: 17px solid transparent;
}

.center
{
	width: 94px;
	height: 0;
	
	position: absolute;
	top: 88px;
	left: 3px;

	border-left: 26px solid transparent;
	border-right: 26px solid transparent;
	border-bottom: 15px solid white;
}

.center:after
{
	content: '';
	width: 42px;
	height: 0;
	
	position: absolute;
	top: 15px;
	left: -26px;

	border-top: 15px solid white;
	border-left: 26px solid transparent;
	border-right: 26px solid transparent;
}

.center_2:after 
{
	border-top: 15px solid transparent;
	/*transparent*/
}

.bottom_left
{
	width: 0;
	height: 100px;

	position: absolute;
	top: 104px;
	left: -2px;

	border-radius: 10px 0 0 10px;
	border-top: 17px solid transparent;
	border-left: 30px solid white;
	border-bottom: 30px solid transparent;
}

.bottom_right
{
	width: 0;
	height: 100px;

	position: absolute;
	top: 104px;
	right: -2px;

	border-radius: 0 10px 10px 0;
	border-top: 17px solid transparent;
	border-right: 30px solid white;
	border-bottom: 30px solid transparent;
}

.bottom
{
	width: 100px;
	height: 0;
	
	position: absolute;
	top: 176px;

	border-radius: 0 0 10px 10px;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	border-bottom: 30px solid white;
}

.point
{
	position: relative;
}

.point:after
{
	content: '';
	position: absolute;

	left: 0;
	top: 85px;
}

.point, .point:after
{
	width: 30px;
	height: 30px;

	border-radius: 5px;
	background-color: white;
}