body {
	font-family: 'Open Sans', sans-serif;
	/*color: #2d3748 !important;*/
	/*background-color: #f5f9ff !important;*/
}
@font-face {
    font-family: 'Noto Sans Armenian';
    src: url("../fonts/NotoSansArmenian.ttf");
}

/* .container p {
	font-style: normal;
	font-weight: 400;
	font-size: 23px;
	line-height: 31px;
	text-align: center;
	color: #000000;
} */


p span {
	display: flex;
	justify-content: center;
	margin: 50px 0;
    font-family: 'Noto Sans Armenian';
    font-style: normal;
    font-weight: 800;
    font-size: 34px;
    line-height: 46px;
    color: #000000;

}
#priv p{
    margin-bottom: 15px;
    color: #000000;
}
.bold{
    font-family: 'Noto Sans Armenian';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 41px;
    color: #000000;
}

@media (max-width: 500px) {
	p span {
		text-align: center;
		width: 100%;
		font-size: 20px !important;
	}

	.container p {
		text-align: center;
	}
    .content-teacher{
        width: 100%;
    }
}
